<%- include('include/_header') %>
<div class="blasts-box">
    <% for(let i=blasts.length-1; i > -1; i--){ %>
        <div class="blast-div">
            <span class="blast-title"><%= blasts[i].title %> </span>
            <br>
            <span class="blast-text"><%= blasts[i].text %> </span>
        </div>
    <% } %>
</div>
<%- include('include/_footer') %>