<div class="blast-form">
    <form action="/api/blasts" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="title">Text</label>
            <input type="text" name="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary submit-btn">Blast!</button>
    </form>
</div>